@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 20, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .glitch-text {
    position: relative;
  }
  
  .glitch-text::before,
  .glitch-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .glitch-text::before {
    left: 2px;
    text-shadow: -1px 0 red;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }

  .glitch-text::after {
    left: -2px;
    text-shadow: -1px 0 blue;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim2 5s infinite linear alternate-reverse;
  }

  @keyframes glitch-anim {
    0% { clip: rect(38px, 9999px, 81px, 0); }
    20% { clip: rect(10px, 9999px, 5px, 0); }
    40% { clip: rect(69px, 9999px, 86px, 0); }
    60% { clip: rect(2px, 9999px, 49px, 0); }
    80% { clip: rect(86px, 9999px, 14px, 0); }
    100% { clip: rect(32px, 9999px, 60px, 0); }
  }
}
